{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'myapp/style.css' %}"> 
    <title>Document</title>
  </head>
  <body>
    <h1>This is simple</h1>
    <h2>
      {% for item in items %}
        <a style="text-decoration: none;" href="{% url 'myapp:detail' item.id %}">ID: {{ item.id }} | {{ item }} | {{ item.price }} | {{ item.description }} <br /></a>
      {% endfor %}
    </h2>
  </body>
</html>
